############# Ignore
/snippets
/node_modules
/public/hot
/public/images/*
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
.phpunit.result.cache

############# Except These

# Parts Images
!/public/images/parts

!/public/images/parts/headers
/public/images/parts/headers/*
!/public/images/parts/headers/placeholder.png

!/public/images/parts/originals
/public/images/parts/originals/*
!/public/images/parts/originals/placeholder.png

!/public/images/parts/thumbnails
/public/images/parts/thumbnails/*
!/public/images/parts/thumbnails/placeholder.png

# Posts Images
!/public/images/posts

/public/images/posts/*
!/public/images/posts/placeholder.png

# Sections Images
!/public/images/sections

/public/images/sections/*
!/public/images/sections/placeholder.png

# Site Settings Images
!/public/images/homepage

/public/images/homepage/*
!/public/images/homepage/carousel_example.png
!/public/images/homepage/card_example.png
!/public/images/homepage/story_example.png